.media 
{
    justify-self: center;
}

.ArtistInfo
{
    cursor: pointer;
}
 
.QInfo 
{
    margin: 10px 0 15px;
    font-size: 18px;
}
 
.Artists 
{
     display: inline-block;
     margin-bottom: 10px;
     width: 140px;
}
 
.galleryPrev 
{
    height: 210px;
    width: 140px;
     border-radius: 5px;
}
 
.ArtistCard 
{
     box-shadow: 1px 1px #ddd;
     border-radius: 5px;
     
}
 
Avatar
{
    z-index: 0;
}

p
{
    font-size: 16px;
}

.ArtistStatus
{
    background-color: #008844;
    color: #ffffff;
    font-weight: bold;
    padding: 6px;
    border-radius: 4px;
    width: fit-content;
    margin: -4px 0 0;
}